algebraic-connectivity-directed==0.0.10
asteval @ file:///home/conda/feedstock_root/build_artifacts/asteval_1677271523949/work
atpbar @ file:///home/conda/feedstock_root/build_artifacts/atpbar_1620504738512/work
Brian2==2.5.0.3
certifi==2023.5.7
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.28
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1686578582263/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
hyperopt @ file:///home/conda/feedstock_root/build_artifacts/hyperopt_1651336815538/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805901953/work
lmfit @ file:///home/conda/feedstock_root/build_artifacts/lmfit_1635465361233/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769187476/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359043885/work
mpmath==1.2.1
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1666932972382/work
munkres==1.1.4
natsort @ file:///home/conda/feedstock_root/build_artifacts/natsort_1643636597628/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy==1.22.2
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==1.4.2
pathos @ file:///home/conda/feedstock_root/build_artifacts/pathos_1666612980302/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1684654233406/work
pox @ file:///home/conda/feedstock_root/build_artifacts/pox_1666592868822/work
ppft @ file:///home/conda/feedstock_root/build_artifacts/ppft_1666592874911/work
progress @ file:///home/conda/feedstock_root/build_artifacts/progress_1628490366097/work
py4j @ file:///home/conda/feedstock_root/build_artifacts/py4j_1660381574436/work
pymongo==3.13.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyspike==0.7.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976950430/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357575279/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1671302710265/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1683305774790/work
sympy==1.9
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150430519/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
tqdm-pathos==0.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1685704949284/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1655664167081/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
